---
# Distro specific
- include: tasks/install-deps/main.yml

# Distro agnostic
- include: tasks/configure-postfix.yml
- include: tasks/configure-watchdog.yml
- include: tasks/disk-setup.yml

  vars:
    oscheck_run_tests: "{{ oscheck_run_tests }}"

- name: git clone oscheck
  git:
    repo: "{{ oscheck_git }}"
    dest: "{{ oscheck_data }}"
  tags: [ 'oscheck', 'install', 'git']

- name: Install oscheck as root
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  environment:
    FSTYP:  "{{ oscheck_fstyp }}"
  command: "{{  make }} install"
  tags: [ 'oscheck', 'install', 'root']
  args:
    chdir: "{{ oscheck_data }}"

# XXX: port the below to the above ansible targets
# This is complete now for Debian. Other distros need
# to convert their oscheck --install-deps target to
# ansible. Once all distros are proted we can remove this
# as then provisioning would all be handled through
# ansible.
- name: Install oscheck dependencies
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  command: "./oscheck.sh --install-deps"
  tags: [ 'oscheck', 'deps', 'shell']
  args:
    chdir: "{{ oscheck_data }}"

- name: git clone fstests
  git:
    repo: "{{ fstests_git }}"
    dest: "{{ fstests_data }}"
  tags: [ 'oscheck', 'git', 'fstests']

- name: Build fstests
  tags: [ 'oscheck', 'fstests', 'build']
  make:
    chdir: "{{ fstests_data }}"
    params:
      NUM_THREADS: "{{ make_num_jobs }}"

- name: Install fstests
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  command: "{{  make }} install"
  tags: [ 'oscheck', 'fstests', 'install', 'root']
  args:
    chdir: "{{ fstests_data }}"

- name: git pull latest oscheck to ensure expunge list is up to date
  git:
    repo: "{{ oscheck_git }}"
    dest: "{{ oscheck_data }}"
    update: yes
    version: master
  tags: [ 'oscheck', 'install', 'git', 'git_update', 'run_tests' ]

- name: Clear out old results directory
  file:
    state: absent
    path: "{{ fstests_data_target }}/results/"
  tags: [ 'oscheck', 'fstests', 'run_tests', 'clean_results' ]

- name: Generate truncated disks using oscheck's gendisk.sh
  tags: [ 'oscheck', 'fstests', 'run_tests', 'gendisks' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  command: "./gendisks.sh -d -m"
  args:
    chdir: "{{ fstests_data_target }}"
  when:
    - oscheck_run_tests == true

- name: Run fstests using oscheck.sh
  vars:
    section: "{{ ansible_hostname | regex_replace('oscheck-') | regex_replace('-', '_') }}"
  tags: [ 'oscheck', 'fstests', 'run_tests' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  command: "./oscheck.sh --test-section {{ section }}"
  args:
    chdir: "{{ fstests_data_target }}"
  when:
    - oscheck_run_tests == true

- name: Reboot system after test
  tags: [ 'oscheck', 'fstests', 'run_tests', 'reboot' ]
  become: yes
  become_method: sudo
  reboot:

- name: Look for xunit results files
  tags: [ 'oscheck', 'fstests', 'copy_results', 'xunit' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  find:
    paths: "{{ fstests_data_target }}"
    recurse: yes
    patterns: "*.xml"
  register: xunit_files

- name: Copy xunit results files
  tags: [ 'oscheck', 'fstests', 'copy_results', 'xunit' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  fetch:
    src: "{{ item.path }}"
    dest: "{{ item.path | regex_replace(fstests_data_target | regex_escape()) }}"
    flat: yes
  with_items: "{{ xunit_files.files }}"

- name: Look for tests which failed
  tags: [ 'oscheck', 'fstests', 'copy_results', 'failed_tests' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  find:
    paths: "{{ fstests_data_target }}"
    recurse: yes
    patterns: "*.bad"
  register: failed_tests

- name: Copy data for tests that failed
  tags: [ 'oscheck', 'fstests', 'copy_results', 'failed_tests' ]
  become: yes
  become_flags: 'su - -c'
  become_method: sudo
  fetch:
    src: "{{ item.path }}"
    dest: "{{ item.path | regex_replace(fstests_data_target | regex_escape()) }}"
    flat: yes
  with_items: "{{ failed_tests.files }}"
