---
# Install dependencies for oscheck on Debian

- name: Set up apt for Debian testing
  become: yes
  become_method: sudo
  template:
    src: debian/sources.list.testing
    dest: /etc/apt/sources.list
  tags: [ 'apt', 'config' ]

# We have this as old versions of this ansible role added this file
# and its own set of preferences to prefer unstable over testing so we
# can install ssmpt. But since we have moved away from ssmpt in favor
# of postfix we no longer need it. It should be safe to kill this file
# as we are providing all provisioning of the target systems. But later
# we should not need this.
- name: Remove old pinning configuration file
  become: yes
  become_method: sudo
  file:
    path: /etc/apt/preferences
    state: absent
  tags: [ 'apt', 'config' ]

- name: Install postfix
  become: yes
  become_method: sudo
  apt:
    name:
      - postfix
    state: latest
    update_cache: yes
  tags: [ 'postfix', 'deps' ]

- name: Install bsd-mailx to test mail settings
  become: yes
  become_method: sudo
  apt:
    name:
      - bsd-mailx
    state: latest
    update_cache: yes
  tags: [ 'bsd-mailx', 'deps' ]

- name: Install watchdog package
  become: yes
  become_method: sudo
  apt:
    name:
      - watchdog
    state: latest
    update_cache: yes
  tags: [ 'watchdog', 'deps' ]

- name: Install disk provisioning dependencies
  become: yes
  become_method: sudo
  apt:
    name:
      - nvme-cli
      - xfsprogs

- name: Install fstests build dependencies
  become: yes
  become_method: sudo
  apt:
    name:
      - bison
      - flex
      - git
      - e2fsprogs
      - automake
      - gcc
      - libuuid1
      - quota
      - make
      - xfsprogs
      - gawk
      - uuid-runtime
      - acl
      - bc
      - dump
      - indent
      - libtool
      - lvm2
      - psmisc
      - sed
      - xfsdump
      - libacl1
      - libacl1-dev
      - libaio1
      - libaio-dev
      - uuid-dev
      - uuid-runtime
      - attr
      - libattr1
      - libattr1-dev
      - gdbm-l10n
      - libgdbm-dev
      - libssl-dev
      - xfslibs-dev
      - fio
      - dbench
      - libcap2-bin
    state: present
    update_cache: yes
  tags: [ 'fstests', 'deps' ]
